PORT=4000
NODE_ENV=development

DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require"
REDIS_URL="rediss://default:<password>@frank-kite-73732.upstash.io:6379"

JWT_ACCESS_SECRET=eventhub_access_secret_key_it_nhat_32_ky_tu_123456
JWT_REFRESH_SECRET=eventhub_refresh_secret_key_khac_it_nhat_32_ky_tu_789